


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ;
    list-style: none;
}

.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background: #3d4152;
}
.navegation{
    position: fixed;
    inset: 20px 0 20px 20px;
    width: 75px;
    min-height: 500px;
    background: #fff;
    transition: 0.5s;
    display: flex;
    
}